.navigation-menu {
    z-index: 100;
    background-color: #6b6b6b;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 10em;
    padding: 2em;
    position: absolute;
    right: 0;
    margin: 2rem;
    border-radius: 20px;
}

.small-navigation-menu {
    z-index: 100;
    background-color: #6b6b6b;
    color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    bottom: 0;
    width: 30rem;
    height: max-content;
    padding: 2em;
    margin: 2rem;
    border-radius: 20px;
    overflow: scroll;
}

.navigation-button {
    font-family: 'Space Mono', monospace;
    z-index: 100;
    background-color: #6b6b6b;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    width: 10em;
    padding: 2em;
    position: absolute;
    margin: 2rem;
    border-radius: 20px;
    transform: scale(0.7);
    border: none;
}

.jumper {
    font-family: 'Space Mono', monospace;
    font-size: 130%;
    padding: 0.2rem;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

.jumper:hover {
    color: yellow;
    cursor: pointer;
}